@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

/* General Settings: */
* {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Semantics tags - settings */
    --bgBody: rgb(255, 208, 0.5); /* body */
    --bgHead: rgb(0, 0, 0); /* header */
    --sectBg: rgb(78, 78, 78);/* section */ 
    /* Not-sematics tags - settings: */
    --colorH1: rgb(255, 208, 0.10); /* h1 */
    --textColor: rgb(255, 228, 106); /* p */
}

/* Reset css */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bgBody);
}

.header {
    padding: 15px;
    background-color: var(--bgHead);
    max-height: 70px;
    text-align: center;
}

.h1 {
    font-family: "Inter", serif;
    font-weight: 500;
    color: var(--colorH1);
}

.section {
    background-color: var(--sectBg);
    color: var(--textColor);
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    max-height: 300px;
}